@model weatherMvc.Models.WeatherData
@{
    var weatherData = (WeatherData)ViewData["weatherData"];
    var locationData = (LocationData)ViewData["location"];
}
<div class="row">
    <div class="col-md-2">
        <img src="~/images/32.png" />
    </div>
    <div class="col-md-3">
        <h2>@weatherData.currently.temperature F</h2>
    </div>
    <div class="col-md-3">
        <h2>High: @weatherData.daily.data[0].temperatureHigh</h2>
    </div>
    <div class="col-md-3">
        <h2>Low: @weatherData.daily.data[0].temperatureLow</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h2>@weatherData.currently.summary</h2>
    </div>
    <div class="col-md-3">
        <h4>Precipitation Chance %: @weatherData.currently.precipProbability</h4>
    </div>
    <div class="col-md-3">
        <h4>Cloud cover: @weatherData.currently.cloudCover</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h4>This is your address from Google:</h4>
        <h4>@locationData.results[0].formatted_address</h4>
    </div>
    <div class="col-md-3">
        <h4>Latitude: @locationData.results[0].geometry.location.lat</h4>
        <h4>Longitude: @locationData.results[0].geometry.location.lng</h4>
    </div>
</div>

@*
<!--
@foreach(var day in @weatherData.daily.data)
{
    <div class="row">
        <div class="col-md-2">
            <h2>@day.icon</h2>
        </div>

        <div class="col-md-3">
            <h4>@day.summary</h4>
            <h4>@day.sunriseTime</h4>  
        </div>
    </div>
}
-->
*@