@model weatherMvc.Models.WeatherData
@{
    var weatherData = (WeatherData)ViewData["weatherData"];
    var locationData = (LocationData)ViewData["location"];
}
<div class="row">
    <div class="col-md-2">
        <img src="~/images/32.png" />
    </div>
    <div class="col-md-3">
        <h3>Currently: @weatherData.currently.temperature F</h3>
    </div>
    <div class="col-md-3">
        <h3>High: @weatherData.daily.data[0].temperatureHigh</h3>
    </div>
    <div class="col-md-3">
        <h3>Low: @weatherData.daily.data[0].temperatureLow</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h3> It is currently:</h3>
        <h3>@weatherData.currently.summary</h3>
    </div>
    <div class="col-md-3">
        <h4>Chance of precipitation:</h4>
        <h4>@weatherData.currently.precipProbability%</h4>
    </div>
    <div class="col-md-3">
        <h4>Cloud cover: </h4>
        <h4>@weatherData.currently.cloudCover</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
        <h6>This is your address from Google:</h6>
        <h6>@locationData.results[0].formatted_address</h6>
    </div>
    <div class="col-md-3">
        <h6>Latitude and Longitude: </h6>
        <h6>@locationData.results[0].geometry.location.lat, @locationData.results[0].geometry.location.lng</h6>
    </div>
</div>

<div class="col-md-3">

</div>
@*
<!--
@foreach(var day in @weatherData.daily.data)
{
    <div class="row">
        <div class="col-md-2">
            <h2>@day.icon</h2>
        </div>

        <div class="col-md-3">
            <h4>@day.summary</h4>
            <h4>@day.sunriseTime</h4>  
        </div>
    </div>
}
-->
*@