    <header class="bg-light border-bottom box-shadow">
        <div class="row">
            <div class="col">
                <h4 class="badge">Humidity @Model.currently.humidity</h4>
            </div>
            <div class="col">
              <h4 class="badge">Dew Point @Model.currently.dewPoint</h4>
            </div> 
            <div class="col">
                <h4 class="badge">Wind Speed @Model.currently.windSpeed</h4>
            </div>
            <div class="col">
              <h4 class="badge">Nearest Storm @Model.currently.nearestStormDistance mi</h4>
            </div>
            <div class="col">
              <h4 class="badge">Ozone @Model.currently.ozone</h4>
            </div>
            <div class="col">
              <h4 class="badge">Visibility @Model.currently.visibility</h4>
            </div>
            <div class="col">
                  <h4 class="badge" id="badge-custom-danger">Pressure @Model.currently.pressure</h4>
            </div>
        </div>
    </header>