@{
    var weatherData = (WeatherData)ViewData["weatherData"];
    var locationData = (LocationData)ViewData["location"];
}
<header class="bg-light border-bottom box-shadow">
  <div class="row">
    <div class="col">
      <h4 class="badge">Humidity @weatherData.currently.humidity</h4>
    </div>
    <div class="col">
      <h4 class="badge">Dew Point @weatherData.currently.dewPoint</h4>
    </div>
    <div class="col">
      <h4 class="badge">Wind Speed @weatherData.currently.windSpeed</h4>
    </div>
    <div class="col">
      <h4 class="badge">Nearest Storm @weatherData.currently.nearestStormDistance mi</h4>
    </div>
    <div class="col">
      <h4 class="badge">Ozone @weatherData.currently.ozone</h4>
    </div>
    <div class="col">
      <h4 class="badge">Visibility @weatherData.currently.visibility</h4>
    </div>
    <div class="col">
      <h4 class="badge" id="badge-custom-danger">Pressure @weatherData.currently.pressure</h4>
    </div>
  </div>
</header>