@model weatherMvc.Models.WeatherData

@{
    ViewData["Title"] = "Index";
}
@{
    ViewData["Title"] = "Weather";
}


<div class="container">   
    <header class="bg-light border-bottom box-shadow">
        <div class="row">
            <div class="col">
                <h4 class="badge">Humidity @Model.currently.humidity</h4>
            </div>
            <div class="col">
              <h4 class="badge">Dew Point @Model.currently.dewPoint</h4>
            </div> 
            <div class="col">
                <h4 class="badge">Wind Speed @Model.currently.windSpeed</h4>
            </div>
            <div class="col">
              <h4 class="badge">Nearest Storm @Model.currently.nearestStormDistance mi</h4>
            </div>
            <div class="col">
              <h4 class="badge">Ozone @Model.currently.ozone</h4>
            </div>
            <div class="col">
              <h4 class="badge">Visibility @Model.currently.visibility</h4>
            </div>
            <div class="col">
                  <h4 class="badge" id="badge-custom-danger">Pressure @Model.currently.pressure</h4>
            </div>
        </div>
    </header>
</div>

        

<div class="container" id="currentWeatherMain">
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/32.png" />
        </div>
        <div clas="col-md-3">
            <span class="badge">@Model.currently.summary</span>
        </div>
        <div class="col-md-3">
            <span class="badge">Chance of Precipitation: @Model.currently.precipProbability</span>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<!--
<div class="row">
    <h3> The Next 7 Days:</h3>
    <br />
    <div class="form-group col-md-offset col-md">
        @for(int i = 0; i < @Model.daily.data.Count(); i ++)
        {
            <label>This will eventually the date time:</label>
            <span class="badge"> @Model.daily.data[i].time</span> 
            <br />
            <label>Summary:</label> 
            <span class="badge">@Model.daily.data[i].summary</span>
            <br />
            <label>High Temp:</label> 
            <span class="badge">@Model.daily.data[i].temperatureHigh °F</span>
            <br />
            <label>High Temp Time:</label> 
            <span class="badge">@Model.daily.data[i].temperatureHighTime</span>
            <br />
        }
    </div>
</div>
-->


<div class="row">
    <form method="get">
        <button asp-controller="weather" asp-action="setLocation" class="btn btn-success" id="custom-button">Search Again</button>
    </form>
</div>
<!-- color theme: https://coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3 -->

